*{
    font-style: italic;
    text-align: center;
    background-image: url(/Planets\ –\ high-quality\ wall\ murals\ with\ free\ shipping.jfif);
    background-repeat: no-repeat;
    background-size: cover;
}